<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.NEWERPConnectionString" connectionString="Data Source=KHALED-PC\MSSQLSERVER01;Initial Catalog=SchoolWebMalakia;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>Data Source=sql5103.site4now.net;Initial Catalog=db_a612b9_school;User ID=db_a612b9_school_admin;Password=S@123456</value>
            </setting>
            <setting name="localsrv" serializeAs="String">
                <value>Data Source=KHALED-PC\MSSQLSERVER01;Initial Catalog=SchoolWebDB;User ID=sa;Password=sa</value>
            </setting>
            <setting name="Online" serializeAs="String">
                <value>Data Source=84.247.160.165;Initial Catalog=SchoolWebDB;User ID=dbuser;Password=School@123</value>
            </setting>
            <setting name="Malakia" serializeAs="String">
                <value>Data Source=84.247.160.165;Initial Catalog=SchoolWebDB;User ID=dbuser;Password=School@123</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>