BODY {
	FONT-SIZE: 70%; BACKGROUND: url(../images/bgGreen.gif) #b0c69c repeat-x; COLOR: #fff; FONT-FAMILY: tahoma; TEXT-ALIGN: center
}
A {
	COLOR: #66a42e; TEXT-DECORATION: none
}
A:link {
	COLOR: #66a42e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #66a42e; TEXT-DECORATION: none
}
#head {
	BACKGROUND: #61a622; MARGIN: 0px auto; WIDTH: 890px; TEXT-ALIGN: center
}
#msnbanner {
	BACKGROUND: url(../images/Header-bgGreen.gif) repeat-x 50% top; MARGIN: 0px auto; WIDTH: 976px; HEIGHT: 81px
}
#nav {
	DISPLAY: block; BACKGROUND: url(../images/msnheader4-08Green.gif) repeat-x 50% top; MARGIN: 0px auto; WIDTH: 976px; HEIGHT: 96px
}
#headbar {
	BORDER-RIGHT: #eaebed 1px solid; BORDER-TOP: #eaebed 1px solid; BACKGROUND: #000; BORDER-LEFT: #eaebed 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eaebed 1px solid; HEIGHT: 18px
}
.clr {
	CLEAR: both
}
.clipcontent {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cecece 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #cecece 1px solid
}
.heading {
	BACKGROUND: #f3f3f3; MARGIN-BOTTOM: 10px; BORDER-BOTTOM: #cecece 1px solid; HEIGHT: 24px
}
.clipcontent IMG {
	FLOAT: left; MARGIN: -11px 10px
}
.ClipContent .Heading {
	BACKGROUND: url(../images/Headingbg4Green.Gif) center top
}
.pagination {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cecece 1px solid; WIDTH: 346px; PADDING-TOP: 3px; BORDER-BOTTOM: #cecece 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: right
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/MSNArabiaLogoGreen.gif) no-repeat 28% 64%; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 47px; WIDTH: 176px; PADDING-TOP: 6px; HEIGHT: 62px
}
.hotmail A {
	MARGIN-TOP: 15px; DISPLAY: block; WIDTH: 39px; HEIGHT: 30px
}
.messanger A {
	MARGIN-TOP: 15px; DISPLAY: block; WIDTH: 39px; HEIGHT: 30px
}
.spaces A {
	MARGIN-TOP: 15px; DISPLAY: block; WIDTH: 39px; HEIGHT: 30px
}
.hotmail A {
	BACKGROUND: url(../images/hotmail.gif) no-repeat
}
.messanger A {
	BACKGROUND: url(../images/messenger.gif) no-repeat
}
.spaces A {
	BACKGROUND: url(../images/spaces.gif) no-repeat
}
.link {
	DISPLAY: block; BACKGROUND: url(../images/link.gif) no-repeat; WIDTH: 79px; HEIGHT: 53px
}
#wl {
	BACKGROUND: url(../images/wllogo.gif) no-repeat 450px 67px; HEIGHT: 82px
}
#big3 A {
	COLOR: #fff
}
#big3 {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/Big-bgGreen.gif) no-repeat center bottom; FLOAT: left; MARGIN-LEFT: 0px; WIDTH: 250px; PADDING-TOP: 9px
}
#TxtAd {
	DISPLAY: block; BACKGROUND: url(../images/homeheaderGreen.gif) repeat-x 50% bottom; MARGIN: -1px auto 0px; WIDTH: 976px; HEIGHT: 17px
}
#footer {
	CLEAR: both; BACKGROUND: url(../images/Fotter-bgGreen.gif) center bottom; FLOAT: none; HEIGHT: 151px
}
H6 {
	COLOR: #a8b899
}
