* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}


.nav-bar {
    display: none;
}

header nav {
    direction: rtl;
    position: fixed;
    background: #2157b7;
    z-index: 1000;
    width: 100%;
    /*height:70px;*/
    margin-top: 0px !important;
    opacity: 0.8;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

    header nav ul {
        list-style: none;
    }

        header nav ul li {
            float: right;
            position: relative;
        }

    header nav:after {
        content: "";
        display: block;
        clear: both;
    }

    header nav ul li a {
        color: white;
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
        font-family: tahoma;
    }

    header nav ul li:hover {
        background: #b6ff00;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }


        header nav ul li:hover i {
            color: white;
        }

    header nav ul li i {
        margin-right: 5px;
    }

    header nav ul li:hover .children {
        display: block;
    }

    header nav ul li .children {
        opacity:.9;
        display: none;
        background: #2157b7;
        position: absolute;
        width: 220px;
        z-index: 1000;
        float: right;
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

        header nav ul li .children span {
            display: none;
        }

        header nav ul li .children li {
            display: block;
            width: 100%;
            border-bottom: 1px solid #ffffff;
        }

            header nav ul li .children li a {
                margin-right: 10px;
            }

    header nav ul li .fa-angle-down {
        position: relative;
    }

.iconSpace {
    padding-left: 10px;
        vertical-align: middle !important;

}



@media all and (max-width: 800px) {

    body {
        padding-top: 80px;
    }

    .nav-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #0024ff;
    }

        .nav-bar span {
            float: left;
            font-size: 20px;
            padding: 20px;
            color: #fff;
        }

        .nav-bar .fa-bars {
            display: block;
            padding: 20px;
            color: #fff;
            overflow: hidden;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            float: right;
        }

    header nav {
        opacity:1 !important;
        direction: rtl;
        float: right;
        width: 250px;
        height: 100%;
        position:fixed;
        right: 0%;
        top: 60px;
        overflow-x: hidden;
        background-color: #272727;
        overflow-y: scroll;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: 1031;
    }

        header nav ul li {
            display: block;
            border-bottom: 1px solid rgba(255, 255,255, .5);
            width: 100%;
        }
        /* Let's get this party started */
        header nav::-webkit-scrollbar {
            width: 3px;
        }
        /* Track */
        header nav::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        /* Handle */
        header nav::-webkit-scrollbar-thumb {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #0024ff;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }

    .header nav::-webkit-scrollbar-thumb:window-inactive {
        background: #0024ff;
    }

    header ul li a {
        display: block;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: none;
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li ul li:first-child {
        border-top: 1px solid #ffffff;
    }

    header nav ul li .children span {
        display: inline-block;
        margin-right: 10px;
    }

    header nav ul li .children a {
        margin-left: 10px;
        padding: 5px 0;
    }

    header nav ul li .fa-angle-down {
        position: relative;
        top: 0px;
    }
}
