<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- <add name="NEWERPConnectionString" connectionString="Data Source=sql5109.site4now.net;Initial Catalog=db_a612b9_mathaly;Persist Security Info=True;User ID=db_a612b9_mathaly_admin;Password=Sa123456" providerName="System.Data.SqlClient" />
      -->
    <add name="NEWERPConnectionString" connectionString="Data Source=KHALED-PC\MSSQLSERVER01;Initial Catalog=SchoolWebMalakia;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="false"/>

 <!--<authentication mode="Forms">
      <forms timeout="2000"/>
  </authentication>-->
    
    <globalization culture="ar-KW" fileEncoding="utf-8" uiCulture="ar-KW" />
    
   
    <httpRuntime targetFramework="4.5" executionTimeout="2000" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="System Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--<httpRuntime targetFramework="4.5"/>-->
    <httpHandlers>
      <!--<<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
     
    </httpHandlers>
    
    <sessionState timeout="2000" cookieless="false" mode="InProc"/>
    
    <customErrors mode="Off"/>
    <!--<customErrors defaultRedirect="~/error/Oops.aspx" mode="On">
authentication       <error statusCode="404" redirect="~/error/Oops404.aspx"/>
      <error statusCode="403" redirect="~/error/Forbidden.aspx"/>
      <error statusCode="500" redirect="~/error/InternalError.aspx"/> 
    </customErrors> -->
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
  

    <machineKey validation="SHA1" decryption="AES"/>
    <pages viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        <!--Main Controls -->
        
        <!--Gym Controls -->
       
        <add tagPrefix="WEB" tagName="Inventory" src="~/Controls/Account/Inventory.ascx" />
        <add tagPrefix="WEB" tagName="Accounts" src="~/Controls/Account/Accounts.ascx" />
        <add tagPrefix="WEB" tagName="Branches" src="~/Controls/Account/Branches.ascx" />
        <add tagPrefix="WEB" tagName="Products" src="~/Controls/Items/Products.ascx" />
        <add tagPrefix="WEB" tagName="StockList" src="~/Controls/Items/StockList.ascx" />
        <add tagPrefix="WEB" tagName="Qids" src="~/Controls/Account/Qids.ascx" />
        <add tagPrefix="WEB" tagName="QidBoxRpt" src="~/Controls/Account/QidBoxRpt.ascx" />
        <add tagPrefix="WEB" tagName="QidShow" src="~/Controls/Account/QidShow.ascx" />
        <add tagPrefix="WEB" tagName="QidsInOut" src="~/Controls/Account/QidsInOut.ascx" />
        <add tagPrefix="WEB" tagName="StatementSheet" src="~/Controls/Account/StatementSheet.ascx" />
        <add tagPrefix="WEB" tagName="TrialBalance" src="~/Controls/Account/TrialBalance.ascx" />
        <add tagPrefix="WEB" tagName="Setup" src="~/Controls/Setup/Setup.ascx" />
        <add tagPrefix="WEB" tagName="SetupNewAccount" src="~/Controls/Setup/SetupNewAccount.ascx" />
        <add tagPrefix="WEB" tagName="Invoices" src="~/Controls/Invoices/Invoices.ascx" />
        <add tagPrefix="WEB" tagName="IncomeStatement" src="~/Controls/Account/IncomeStatement.ascx" />
        <add tagPrefix="WEB" tagName="Budget" src="~/Controls/Account/Budget.ascx" />


        <add tagPrefix="Admin" tagName="Header" src="~/Admin/Controls/Common/Header.ascx"/>
        <add tagPrefix="Admin" tagName="LeftSideBar" src="~/Admin/Controls/Common/LeftSideBar.ascx"/>
        <add tagPrefix="Admin" tagName="RightSidebar" src="~/Admin/Controls/Common/RightSidebar.ascx"/>
        <add tagPrefix="Admin" tagName="HeaderAdminMobile" src="~/Admin/Controls/Common/HeaderAdminMobile.ascx"/>
        <add tagPrefix="Admin" tagName="LeftSideBarNew" src="~/Admin/Controls/Common/LeftSideBarNew.ascx"/>
        <add tagPrefix="Admin" tagName="HeaderNew" src="~/Admin/Controls/Common/HeaderNew.ascx"/>
        <add tagPrefix="Admin" tagName="HeaderAdmin" src="~/Admin/Controls/Common/HeaderAdmin.ascx"/>
        <add tagPrefix="Admin" tagName="RightSidebar" src="~/Admin/Controls/Common/RightSidebar.ascx"/>
        <add tagPrefix="Admin" tagName="DashboardHeader" src="~/Admin/Controls/Common/DashboardHeader.ascx"/>
        <add tagPrefix="Admin" tagName="Footer" src="~/Admin/Controls/Common/Footer.ascx"/>

        <add tagPrefix="ContentPages" tagName="PageBlock" src="~/Controls/ContentPages/PageBlock.ascx"/>
        <add tagPrefix="ContentPages" tagName="PageHeader" src="~/Controls/ContentPages/PageHeader.ascx"/>
        <add tagPrefix="ContentPages" tagName="Mini_Top_Stats_Row" src="~/Controls/ContentPages/Mini_Top_Stats_Row.ascx"/>
        <add tagPrefix="ContentPages" tagName="Widgets_Row" src="~/Controls/ContentPages/Widgets_Row.ascx"/>
        <add tagPrefix="ContentPages" tagName="Dashboard_IconsHeader" src="~/Controls/ContentPages/Dashboard_IconsHeader.ascx"/>
        <add tagPrefix="ContentPages" tagName="CarouselWithInfo" src="~/Controls/ContentPages/CarouselWithInfo.ascx"/>
        <add tagPrefix="ContentPages" tagName="CarouselHeaderWithInfo" src="~/Controls/ContentPages/CarouselHeaderWithInfo.ascx"/>
        <add tagPrefix="ContentPages" tagName="CarouselContent" src="~/Controls/ContentPages/CarouselContent.ascx"/>
        <add tagPrefix="ContentPages" tagName="ImageGallery" src="~/Controls/ContentPages/ImageGallery.ascx"/>
        <add tagPrefix="ContentPages" tagName="Main" src="~/Controls/ContentPages/Main.ascx"/>

        <add tagPrefix="Controls" tagName="AnimationBanner" src="~/Controls/AnimationBanner.ascx"/>

        <!--Main Site Controls -->
        <add tagPrefix="Main" tagName="MainDashboardHeader" src="~/Controls/Common/MainDashboardHeader.ascx"/>
        <add tagPrefix="Main" tagName="MainFooter" src="~/Controls/Common/MainFooter.ascx"/>
        <add tagPrefix="Main" tagName="MainHeaderNew" src="~/Controls/Common/MainHeaderNew.ascx"/>
        <add tagPrefix="Main" tagName="MainLeftSideBarNew" src="~/Controls/Common/MainLeftSideBarNew.ascx"/>
       <!--School Site Controls -->
      <add tagPrefix="School" tagName="Stages" src="~/Admin/Controls/School/Sch_StagesList.ascx"/>
        <add tagPrefix="School" tagName="Periods" src="~/Admin/Controls/School/Sch_PeriodsList.ascx"/>
        <add tagPrefix="School" tagName="Students" src="~/Admin/Controls/School/Sch_StudentsList.ascx"/>
        <add tagPrefix="School" tagName="SchInvoices" src="~/Admin/Controls/School/Sch_InvoicesList.ascx"/>
        <add tagPrefix="School" tagName="Sch_InvoicesGroupNotifyList" src="~/Admin/Controls/School/Sch_InvoicesGroupNotifyList.ascx"/>
        
        <add tagPrefix="School" tagName="Sch_InvoicesCustomerList" src="~/Admin/Controls/School/Sch_InvoicesCustomerList.ascx"/>
        
        <add tagPrefix="School" tagName="SchPayRecites" src="~/Admin/Controls/School/Sch_PayRecitesList.ascx"/>
        <add tagPrefix="School" tagName="SchTeachers" src="~/Admin/Controls/School/Sch_TeachersList.ascx"/>
        <add tagPrefix="School" tagName="SchTeacherSubjects" src="~/Admin/Controls/School/Sch_TeacherSubjects.ascx"/>
        <add tagPrefix="School" tagName="SchTeacherGovs" src="~/Admin/Controls/School/Sch_TeacherGovs.ascx"/>
        <add tagPrefix="School" tagName="SchTeacherSubjectsGovs" src="~/Admin/Controls/School/Sch_TeacherSubjectsGovs.ascx"/>
        
        <add tagPrefix="School" tagName="SchInvoicesDetials" src="~/Admin/Controls/School/Sch_InvoicesDetialsList.ascx"/>
        <add tagPrefix="School" tagName="SchStudentsIndvAttendance" src="~/Admin/Controls/School/Sch_StudentsIndvAttendance.ascx"/>
        <add tagPrefix="School" tagName="SchStudentsGroupAttendance" src="~/Admin/Controls/School/Sch_StudentsGroupAttendance.ascx"/>
        <add tagPrefix="School" tagName="Sch_GroupAttendancesRptList" src="~/Admin/Controls/School/Sch_GroupAttendancesRptList.ascx"/>
        
        
        <add tagPrefix="School" tagName="SchInvPaymentDates" src="~/Admin/Controls/School/Sch_InvPaymentDatesList.ascx"/>
        <add tagPrefix="School" tagName="Sch_PayRecitesListAll" src="~/Admin/Controls/School/Sch_PayRecitesListAll.ascx"/>
         <add tagPrefix="School" tagName="SchPayRecitesBackList" src="~/Admin/Controls/School/Sch_PayRecitesBackList.ascx"/>
        <add tagPrefix="School" tagName="SchCustomersList" src="~/Admin/Controls/School/Sch_CustomersList.ascx"/>
           <add tagPrefix="School" tagName="Sch_InvoicesGroupAdd" src="~/Admin/Controls/School/Sch_InvoicesGroupAdd.ascx"/>
        <add tagPrefix="School" tagName="Sch_Statistics" src="~/Admin/Controls/School/Sch_Statistics.ascx"/>
        <add tagPrefix="School" tagName="Sch_CustomersCallsList" src="~/Admin/Controls/School/Sch_CustomersCallsList.ascx"/>
        <add tagPrefix="School" tagName="Sch_Subjects" src="~/Admin/Controls/School/Sch_Subjects.ascx"/>
        <add tagPrefix="School" tagName="Sch_StudentsIndvWorkOrdersList" src="~/Admin/Controls/School/Sch_StudentsIndvWorkOrdersList.ascx"/>
        <add tagPrefix="School" tagName="Sch_InvoicesPaymentsDebtList" src="~/Admin/Controls/School/Sch_InvoicesPaymentsDebtList.ascx"/>
         <add tagPrefix="School" tagName="Sch_StudentsTestAdd" src="~/Admin/Controls/School/Sch_StudentsTestAdd.ascx"/>
        
        
        <add tagPrefix="SchReports" tagName="ShowReport" src="~/Admin/Controls/SchReport/ShowReport.ascx"/>
         <add tagPrefix="SchReports" tagName="WorkOrdersReport" src="~/Admin/Controls/SchReport/WorkOrdersReport.ascx"/>
        <add tagPrefix="SchReports" tagName="InvoicesShowReport" src="~/Admin/Controls/SchReport/InvoicesShowReport.ascx"/>
        <add tagPrefix="SchReports" tagName="AttendanceShowReport" src="~/Admin/Controls/SchReport/AttendanceShowReport.ascx"/>
        
        <add tagPrefix="Teachers" tagName="TeacherHeaderNew" src="~/Controls/CommonTeacher/TeacherHeaderNew.ascx"/>
        <add tagPrefix="Teachers" tagName="TeacherLeftSideBarNew" src="~/Controls/CommonTeacher/TeacherLeftSideBarNew.ascx"/>
        <add tagPrefix="Teachers" tagName="MainTeacher" src="~/Controls/CommonTeacher/MainTeacher.ascx"/>
        <add tagPrefix="Teachers" tagName="TeachersIndvAttendance" src="~/Admin/Controls/TeacherControl/Sch_TeachersIndvAttendance.ascx"/>
        
      </controls>
    </pages>
  </system.web>
  <location allowOverride="true">
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
      <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
      <add key="FilesPath" value="~/Uploades/Files/" />
    </appSettings>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers >
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
     <!--<asp>
         <session allowSessionState="true" max="100000" timeout="33:30:00" />
    </asp>-->
  
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>