/* 
Client: Alkandari Lawfirm Website.
By: Developers Studio
Created by: Mahmoud Abdallah
Email: mahmoud@dvstudio.us
*/

/*website color coding
    too dark brown #503018
brown #603913
light brown #754c24
light light brown #8c6239
gold #b1912e*/

/*Default web page*/
.body {
    margin: 0px 0px 0px 0px;
    /*background-color:#422105;*/
    background-image: url('../images/Brownpaper.jpg');
}

.MainTable {
    width: 1024px;
    background-color: #503018;
    padding: 0px 0px 0px 0px;
    border-width: 0px;
    /*direction: ltr;*/
}

.DesignTable {
    width: 1024px;
    background-color: #503018;
    padding: 0px 0px 0px 0px;
    border-width: 0px;
    /*direction: ltr;*/
}

.Menu {
    background-color: #b1912e;
    height: 30px;
    align-content: center;
}

.TextBox {
    width: 200px;
    height: 22px;
    border: 1px;
    border-color: #b1912e;
    border-radius: 15px 15px;
    border-style: solid;
    background-color: transparent;
    font-family: Arial;
    font-size: 12pt;
    color: white;
}

.SearchButton {
    background-color: #503018;
    font-family: Arial;
    font-size: 12pt;
    text-align: left;
    color: #b1912e;
    border: 1px;
    border-color: #b1912e;
    border-style: solid;
    width: 32px;
    height: 32px;
    /*padding: 3px 3px 3px 50px;*/
    /*margin-left: 1%;
    margin-right: 1%;*/
    background-repeat: no-repeat;
    /*background-position-x: 5%;*/
    background-position-x: center;
    background-position-y: center;
    border-radius: 20px 20px;
}

    .SearchButton:hover {
        background-color: #b1912e;
    }

    .SearchButton:focus {
        background-color: #b1912e;
    }

.buttonsIcon {
    background-color: #b1912e;
    font-family: Arial;
    font-size: 12pt;
    text-align: left;
    color: #b1912e;
    border: 1px;
    border-color: #b1912e;
    border-style: solid;
    width: 32px;
    height: 32px;
    /*padding: 3px 3px 3px 50px;*/
    /*margin-left: 1%;
    margin-right: 1%;*/
    background-repeat: no-repeat;
    /*background-position-x: 5%;*/
    background-position-x: center;
    background-position-y: center;
    border-radius: 20px 20px;
}

.buttons {
    width: 90px;
    background-color: transparent;
    border: 0px;
    font-family: Arial;
    font-size: 12pt;
    text-align: left;
    color: #b1912e;
}

    .buttons:hover {
        font-family: Arial;
        font-size: 12pt;
        text-align: left;
        color: white;
    }

    .Buttons:focus {
        font-family: Arial;
        font-size: 12pt;
        text-align: left;
        color: white;
    }

.LanguagesDropDown {
    width: 60px;
    /*height: 30px;*/
    border: 0px;
    /*border-color: #b1912e;*/
    /*border-radius: 15px 15px;*/
    border-style: solid;
    background-color: transparent;
    font-family: Arial;
    font-size: 12pt;
    color: #b1912e;
}

.WelcomeAndWhyTite {
    font-family: Arial;
    font-size: 20pt;
    color: #b1912e;
}

.HomePageWelcomeTable {
    width: 1024px;
    background-color: #503018;
}

.Text {
    font-family: Arial;
    font-size: 13pt;
    color: #b1912e;
}

.TextWhite {
    font-family: Arial;
    font-size: 11pt;
    color: white;
}

.NewsTitle {
    padding-left: 10px;
    background-color: #b1702e;
    text-align: left;
    font-family: Arial;
    font-size: 18pt;
    color: white;
}

.NewsSection {
    padding-left: 10px;
    background-color: #f1f1f1;
    text-align: left;
    font-family: Arial;
    font-size: 13pt;
    color: #503018;
}

HomePage3Sections {
    width: 310px;
    border-left: solid;
    border-left-color: #503018;
    border-left-width: 0.5px;
    vertical-align:top;
}

.SectionsTitle {
    width: 309px;
    height: 40px;
    font-family: Arial;
    font-size: 20pt;
    /*text-align: left;*/
    padding-left: 10px;
    color: #b1912e;
    background-color: #503018;
    border-bottom-right-radius: 15px;
    vertical-align:top;

}

.SectionsMessage {
    width: 309px;
    font-family: Arial;
    font-size: 11pt;
    /*text-align: left;*/
    padding-left: 10px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    color: #503018;
    vertical-align:top;

}

.rights {
    font-family: Arial;
    font-size: 10pt;
    /*text-align: left;*/
    color: #503018;
    /*text-align: left;*/
}

/*main menu-----------------------------------------------------------------*/
.MainMenu {
    font-family: Arial;
    font-size: 12pt;
    font-style: normal;
    text-wrap: normal;
}

    .MainMenu ul {
        background: #b1912e;
    }

        .MainMenu ul li {
            background: #b1912e;
            text-align: center;
            /*text-wrap:normal;*/
            /* set width if needed.*/
            width: 140px;
        }

            .MainMenu ul li a {
                color: black;
                padding-right: 2px !important;
                padding-left: 2px !important;
            }

                .MainMenu ul li a:hover {
                    background-color: #503018;
                }

                .MainMenu ul li a:hover {
                    color: white;
                }

            .MainMenu ul li a {
                color: Black;
            }

.ContentStyle {
    width: 950px;
    font-family: Arial;
    font-size: 12pt;
    color: #503018;
    text-align: justify;
    text-justify: inter-word;
}
/*CSS for Topic Pages---------------------------------------------------------------*/
.TopicPageMainTable {
    background-color: white;
}

.TopicPageTitle {
    height: 40px;
    font-family: Arial;
    font-size: 20pt;
    /*text-align: left;*/
    padding-left: 10px;
    padding-right: 20px;
    color: #b1912e;
    background-color: #503018;
    border-bottom-right-radius: 15px;
}

.TopicPageTopicDetails {
    font-family: Arial;
    font-size: 11pt;
    /*text-align: left;*/
    padding-left: 10px;
    color: #503018;
}
/*CSS for Contact us Pages---------------------------------------------------------------*/
.ContactTextBox {
    width: 250px;
    height: 18px;
    border: 1px;
    border-color: #b1912e;
    border-radius: 15px 15px;
    border-style: solid;
    background-color: transparent;
    font-family: Arial;
    font-size: 12pt;
    color: #503018;
}

.ContactMsg {
    width: 250px;
    height: 150px;
    border: 1px;
    border-color: #b1912e;
    border-radius: 10px 10px;
    border-style: solid;
    background-color: transparent;
    font-family: Arial;
    font-size: 12pt;
    color: #503018;
}

.Contactbuttons {
    width: 90px;
    background-color: transparent;
    border: 0px;
    font-family: Arial;
    font-size: 12pt;
    /*text-align: left;*/
    color: #503018;
}

    .Contactbuttons:hover {
        font-family: Arial;
        font-size: 12pt;
        /*text-align: left;*/
        color: #b1912e;
    }

    .Contactbuttons:focus {
        font-family: Arial;
        font-size: 12pt;
        /*text-align: left;*/
        color: #b1912e;
    }

.MapIcon {
    background-color: #b1912e;
    font-family: Arial;
    font-size: 12pt;
    /*text-align: left;*/
    color: #b1912e;
    border: 1px;
    border-color: #b1912e;
    border-style: solid;
    width: 75px;
    height: 75px;
    /*padding: 3px 3px 3px 50px;*/
    /*margin-left: 1%;
    margin-right: 1%;*/
    background-repeat: no-repeat;
    /*background-position-x: 5%;*/
    background-position-x: center;
    background-position-y: center;
    border-radius: 50px 50px;
}
/* clients logo slider---------------------------------------------------------*/
.image_carousel {
    padding: 15px 0px 15px 0px;
    position: relative;
}

    .image_carousel img {
        border: 1px solid #ccc;
        background-color: white;
        padding: 9px;
        margin: 7px;
        display: block;
        float: left;
    }

a.prev, a.next {
    background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
}

a.prev {
    left: -22px;
    background-position: 0 0;
}

    a.prev:hover {
        background-position: 0 -50px;
    }

    a.prev.disabled {
        background-position: 0 -100px !important;
    }

a.next {
    right: -22px;
    background-position: -50px 0;
}

    a.next:hover {
        background-position: -50px -50px;
    }

    a.next.disabled {
        background-position: -50px -100px !important;
    }

    a.prev.disabled, a.next.disabled {
        cursor: default;
    }

    a.prev span, a.next span {
        display: none;
    }

.pagination {
    text-align: center;
}

    .pagination a {
        background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0;
        display: inline-block;
    }

        .pagination a.selected {
            background-position: -25px -300px;
            cursor: default;
        }

        .pagination a span {
            display: none;
        }

.clearfix {
    float: none;
    clear: both;
}
